<div class="container mt-5">
    <div class="card" style="padding: 20px;">
        <form action="">
            <input type="text" ngModel name="username" id="username" placeholder="Username" class="form-control mb-3"
                required>
            <input type="password" ngModel name="password" id="password" placeholder="Password"
                class="form-control mb-3" required>
            <input type="submit" name="login" id="login" value="Login"
                class="btn btn-primary form-control mb-3 rounded-3">
        </form>


    </div>
</div>