<div class="container mt-5">
    <div class="card" style="padding: 20px;">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <input type="text" ngModel name="userName" id="userName" placeholder="userName" class="form-control mb-3"
                required>
            <input type="password" ngModel name="userPassword" id="userPassword" placeholder="userPassword"
                class="form-control mb-3" required>
            <input type="submit" name="login" id="login" value="Login"
                class="btn btn-primary form-control mb-3 rounded-3">
        </form>


    </div>
</div>